.header{
  background-color: #1d1d1d;//#21283e;//$header-bg;
  color: $header-color;
}

.header__content{
  display: flex;
  justify-content: space-between;
  max-width: $site-max-width;
  margin: 0 auto;
  padding: $space;
}

.header__title{
  margin: 0;
}
